<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.samples.persistence.mybatisimpl.mappers.CategoriaMapper">

    <insert parameterType="map" id="insertarCategoria">
        insert into categoria(idcategoria,nombre,descripcion,fechacreacion,estado,fechamodificacion) values
        (#{categoria.idCategoria},#{categoria.nombre},#{categoria.descripcion},#{categoria.fechaDeCreacion},
        #{categoria.estado},#{categoria.fechaDeModificacion})
    </insert>

    <delete id="eliminarCategoria" parameterType="map">
        DELETE from categoria where  idCategoria=#{idCategoria};
    </delete>

    <select id="consultarCategoria" parameterType='map' resultMap="CategoriaResult">
        SELECT * from categoria where nombre=#{nombre};
    </select>

     <select id="consultarCategorias" parameterType='map' resultMap="CategoriaResult">
        SELECT * from categoria ;
    </select>


    <resultMap id="CategoriaResult" type="Categoria">
        <id property="idCategoria" column="idcategoria"/>
        <result property="nombre" column="nombre"/>
        <result property="descripcion" column="descripcion"/>
        <result property="fechaDeCreacion" column="fechacreacion"/>
        <result property="estado" column="estado"/>
        <result property="fechaDeModificacion" column="fechamodificacion"/>
    </resultMap>

</mapper>