<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.samples.persistence.mybatisimpl.mappers.UsuarioMapper">

    <select id="consultarUsuario" parameterType="map" resultMap="UsuarioResult">
        select * from tblogin tb where tb.idcorreo = #{email};
    </select>

    <select id="consultarUsuarios" parameterType="map" resultMap="UsuarioResult">
        select * from tblogin;
    </select>
    
    <insert id="registrarUsuario" parameterType='map'>
        insert into usuario(idcorreo,contraseña,nombre,apellido,rol) values (#{usuario.idcorreo},#{usuario.contraseña},#{usuario.nombre},#{usuario.apellido},#{usuario.rol});
    </insert>

    <resultMap id="UsuarioResult" type="Usuario">
        <id property="idcorreo" column="idcorreo"/>
        <result property="contraseña" column="contraseña"/>
        <result property="nombre" column="nombre"/>
        <result property="apellido" column="apellido"/>
        <result property="rol" column="rol"/>
    </resultMap>


</mapper>