<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="edu.eci.cvds.samples.entities.Usuario" alias="Usuario"/>
        <typeAlias type="edu.eci.cvds.samples.entities.Categoria" alias="Categoria"/>
        <typeAlias type="edu.eci.cvds.samples.entities.Necesidad" alias="Necesidad"/>

    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="org.postgresql.Driver" />
                <property name="url" value="jdbc:postgresql://ec2-44-195-240-222.compute-1.amazonaws.com:5432/dfhitd8eqqktm1?ssl=true&amp;sslfactory=org.postgresql.ssl.NonValidatingFactory"/>
                <property name="username" value="iskyghtqsueisz" />
                <property name="password" value="c8f7bc4c395ea4247237d85a2e998794c4ff6c3b871962ce3e28ce84ef9b1270" />
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mappers/UsuarioMapper.xml"></mapper>
        <mapper resource="mappers/CategoriaMapper.xml"></mapper>
        <mapper resource="mappers/OfertaMapper.xml"></mapper>
        <mapper resource="mappers/NecesidadMapper.xml"></mapper>
    </mappers>


</configuration>